header {
    background-color:blue;
    color:white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'
}

main {
    background-color:white;
    color:blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'
}

footer {
   
    text-align: center;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'
}
 img{
    width: 50px;
    height: 50px;
 }